.list-content {
    padding: 20px;
}
.taglist span {
    cursor: pointer;
}
.cards {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fbfbfb;
    border: 1px solid var(--bs-border-color);
    padding: 20px;
    border-radius: 3px;
    gap: 15px;
    margin-bottom: 15px;
}
.card .body {
    display: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: bold;
    font-size: 16px;
}
.tag {
    background: #00bb00;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.method {
    background-color: #1391ff;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
}
.url {
    font-size: 16px;
    margin-left: 5px;
}
.param-items {
    margin-bottom: 15px;
}
.param-item {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.param-item small {
    font-size: 10px;
    color: gray;
}
.param-item-comments {
    gap: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.response-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.draw-json {
    background-color: #f2f2f2;
    padding: 10px;
    font-family: Arial, sans-serif;
    white-space: pre-wrap;
    margin: 10px 0;
}

.manage span {
    cursor: pointer;
    float: right;
}

.manage .manage-hide {
    display: none;
}

.string {
    color: green;
}
.number {
    color: darkgreen;
}
.boolean {
    color: blue;
}
.null {
    color: magenta;
}
.key {
    color: red;
}
